<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>Page Detail</h1>

<table th:object="${blog}">
    <tr>
        <td>
            <span>Author</span>
        </td>
        <td>
            <p th:text="${blog.author}"></p>
        </td>
    </tr>
    <tr>
        <td>
            <span>Upload day</span>
        </td>
        <td>
            <p th:text="${blog.upDayStatus}"></p>
        </td>
    </tr>
    <tr>
        <td>
            <span>Content</span>
        </td>
        <td>
            <p th:text="${blog.getContent()}"></p>
        </td>
    </tr>
</table>
</body>
</html>