<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form action="/customers/login" method="post" >
  <label for="user-name">Username: </label>
  <input type="text" name="username" placeholder="Enter user name..." id="user-name">
  <br>
  <label for="user-password">Password: </label>

  <input type="password" name="password" placeholder="Password..." id="user-password">
  <br>
  <input type="checkbox" name="remember-me" id="user-remember">
  <label for="user-remember">Remember me</label>
  <br>
  <button type="submit">Login</button>
</form>
</body>
</html>